# Dependencies
vendor
composer.lock

# App Configuration
.env

# Tests
phpunit.xml
.phpunit.result.cache

# Assets
assets/bootstrap/*
!assets/bootstrap/.gitkeep

# Ignore PHPStorm config folder
.idea

# Temporary/Log
*.log
*~
*.swp
.directory
.DS_Store*
